@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Todo List</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    @Styles.Render("~/Content/css/style")
</head>
<body data-ng-app="tasks">
    <div data-ng-view="">
    </div>
    @Scripts.Render("~/App/scripts")
</body>
</html>
