<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-list-alt"></span>
                My Todo List
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul data-logged-in-user="" class="navbar-right"></ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <form data-ng-submit="addTodo()" class="well form-inline">
            <div class="form-group">
                <input class="form-control" data-ng-model="newTodo.title" placeholder="What needs to be done" type="text" />
            </div>
            <div class="form-group">
                <select class="form-control" data-ng-model="newTodo.priority">
                    <option value="1">Low Priority</option>
                    <option value="2">Normal Priority</option>
                    <option value="3">High Priority</option>
                </select>
            </div>
            <div class="form-group">
                <input class="form-control" data-datepicker-popup="MM/dd/yyyy" data-ng-model="newTodo.dueDate" placeholder="Set Date" type="text" />
            </div>
            <button class="btn btn-primary" data-ng-disabled="!newTodo.title">Add Task</button>
        </form>
    </div>
    <div class="row">
        <div class="form-inline">
            <div class="btn-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Sort By: {{sortLabel && sortLabel || '---'}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a data-ng-click="predicate='dueDate';sortLabel='Due Date'">Due Date</a></li>
                        <li><a data-ng-click="predicate='priority';sortLabel='Priority'">Priority</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-sort-by-attributes{{reverse && '-alt' || ''}}"></i>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a data-ng-click="reverse=false">
                                <i class="glyphicon glyphicon-sort-by-attributes"></i>Ascending
                            </a></li>
                            <li><a data-ng-click="reverse=true">
                                <i class="glyphicon glyphicon-sort-by-attributes-alt"></i>Descending
                            </a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="btn-group pull-right">
                <span class="label label-success">{{count()}}</span> Tasks Remaining
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <ul class="list-unstyled">
            <li data-todo=""
                data-model="item"
                data-delete-fn="removeTodo(todo)"
                data-ng-repeat="item in list | orderBy:predicate:reverse"></li>
        </ul>
    </div>
</div>
