<li class="todo" data-ng-class="{'completed': todo.isDone}" data-ng-switch="" data-on="isEditing">
    <div data-ng-switch-default="">
        <input type="checkbox" data-ng-model="todo.isDone" />
        {{todo.title}}
        <span class="label label-{{priorities[todo.priority].icon}}">{{priorities[todo.priority].name}}</span>
        <span class="label label-default" data-ng-show="todo.dueDate">{{todo.dueDate}}</span>
        <span class="edit-controls">
            <button class="btn btn-xs" data-ng-click="remove()"><span class="glyphicon glyphicon-trash"></span></button>
            <button class="btn btn-xs" data-ng-click="edit()"><span class="glyphicon glyphicon-pencil"></span></button>
        </span>
    </div>
    <div data-ng-switch-when="true">
        <div class="well form-inline">
            <div class="form-group">
                <input class="form-control input-sm" data-ng-model="clone.title" type="text" />
            </div>
            <div class="form-group">
                <select class="form-control input-sm" data-ng-model="clone.priority">
                    <option value="1">Low Priority</option>
                    <option value="2">Normal Priority</option>
                    <option value="3">High Priority</option>
                </select>
            </div>
            <div class="form-group">
                <input class="form-control  input-sm" data-datepicker-popup="MM/dd/yyyy" data-ng-model="clone.dueDate" placeholder="Set Date" type="text" />
            </div>
            <button class="btn btn-primary btn-sm" data-ng-click="save()" data-ng-disabled="!clone.title">Save</button>
            <button class="btn btn-danger btn-sm" data-ng-click="cancel()">Cancel</button>
        </div>
    </div>
</li>
