@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

a {
    cursor: pointer;
}

/* Todo item */

.todo {
    padding: 5px 0;
    border-bottom: 1px dotted #eee;
    position: relative;
}

    .todo.completed {
        text-decoration: line-through;
    }

    .todo .edit-controls {
        display: none;
        position: absolute;
        left: -56px;
        padding-right: 4px;
    }

    .todo:hover .edit-controls {
        display: inline-block;
    }

    .todo.completed .edit-controls {
        display: none;
    }

.task-count {
    padding: 6px 10px;
}

/* Forms */

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
