<div class="container">
    <div class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Email address" data-ng-model="username" autofocus>
        <input type="password" class="form-control" placeholder="Password" data-ng-model="password">
        <label class="checkbox">
            <input type="checkbox" data-ng-model="rememberMe">
            Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" data-ng-click="signIn()">Sign in</button>
    </div>
</div>
