<div class="container form-signin">
    <form data-ng-submit="register()">
        <h3>Welcome to My Todo List</h3>
        <hr />
        <h3>Registration Form</h3>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Email address" data-ng-model="username" autofocus />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" data-ng-model="password" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="confirmPassword">
        </div>
        <button data-ng-disabled="!isValid()" class="btn btn-lg btn-primary btn-block">Register</button>
    </form>
    <p>
        <a href="#/account/login">Back to login</a>
    </p>
</div>
